---
import Layout from '../../layouts/Layout.astro'
import { getPictureBySlug, getAllPictures } from '../../lib/sanity'
import SanityImage from '../../components/media/images/SanityImage.astro'
import PageTransition from '../../components/layout/transitions/PageTransition.astro'
import Text from '../../components/ui/text/Text.astro'

export async function getStaticPaths() {
  const pictures = await getAllPictures()
  return pictures.map((picture) => ({
    params: { slug: picture.slug.current },
    props: { picture },
  }))
}

const { picture } = Astro.props
---

<Layout pageTitle={picture.title} pageDescription={picture.description || picture.title}>
  <PageTransition>
    <article class='mt-32'>
      <header class='mb-8'>
        <Text variant='h1' class='mb-4'>{picture.title}</Text>
        {
          picture.description && (
            <Text variant='body' color='muted' size='lg'>
              {picture.description}
            </Text>
          )
        }
      </header>

      {
        picture.mainImage && (
          <div class='mb-8'>
            <SanityImage
              image={picture.mainImage}
              alt={picture.title}
              width={1200}
              height={800}
              preset='hero'
              class='w-full rounded-lg'
              sizes='(min-width: 1200px) 1200px, 100vw'
            />
          </div>
        )
      }
    </article>
  </PageTransition>
</Layout>
