---
import Layout from '../../layouts/Layout.astro'
import { getAllPictures, urlFor } from '../../lib/sanity'
import SanityImage from '../../components/media/images/SanityImage.astro'
import PageTransition from '../../components/layout/transitions/PageTransition.astro'
import SiteChildNav from '../../components/layout/navigation/SiteChildNav.astro'
import Text from '../../components/ui/text/Text.astro'

export async function getStaticPaths() {
  const pictures = await getAllPictures()
  return pictures.map((picture) => ({
    params: { slug: picture.slug.current },
    props: { picture },
  }))
}

const { picture } = Astro.props

const seoImage = picture.mainImage
  ? urlFor(picture.mainImage).width(1200).height(630).url()
  : undefined

const canonicalUrl = new URL(Astro.url.pathname, 'https://danielshires.com').href

const jsonLd = {
  '@context': 'https://schema.org',
  '@graph': [
    {
      '@type': 'BreadcrumbList',
      itemListElement: [
        {
          '@type': 'ListItem',
          position: 1,
          name: 'Home',
          item: 'https://danielshires.com/',
        },
        {
          '@type': 'ListItem',
          position: 2,
          name: 'Pictures',
          item: 'https://danielshires.com/pictures',
        },
        {
          '@type': 'ListItem',
          position: 3,
          name: picture.title,
          item: canonicalUrl,
        },
      ],
    },
    {
      '@type': 'ImageObject',
      name: picture.title,
      description: picture.description || picture.title,
      url: canonicalUrl,
      contentUrl: seoImage,
    },
  ],
}
---

<Layout
  pageTitle={picture.title}
  pageDescription={picture.description || picture.title}
  pageImage={seoImage}
  pageImageAlt={picture.title}
  jsonLd={jsonLd}>
  <PageTransition>
    <article class='mt-32'>
      <header class='mb-8'>
        <Text variant='h1' class='mb-4'>{picture.title}</Text>
        {
          picture.description && (
            <Text variant='body' color='muted' size='lg'>
              {picture.description}
            </Text>
          )
        }
      </header>

      {
        picture.mainImage && (
          <div class='mb-8'>
            <SanityImage
              image={picture.mainImage}
              alt={picture.title}
              width={1200}
              height={800}
              preset='hero'
              class='w-full rounded-lg'
              sizes='(min-width: 1200px) 1200px, 100vw'
            />
          </div>
        )
      }
    </article>
  </PageTransition>

  <SiteChildNav parentHref='/pictures' parentLabel='Pictures' />
</Layout>
