---
import Layout from '../../layouts/Layout.astro'
import { getPictureBySlug, getAllPictures, urlFor } from '../../lib/sanity'
import type { Picture } from '../../lib/sanity'
import PageTransition from '../../components/Transitions/PageTransition.astro'

export async function getStaticPaths() {
  const pictures = await getAllPictures()
  return pictures.map((picture: Picture) => ({
    params: { slug: picture.slug.current },
    props: { picture },
  }))
}

const { picture } = Astro.props
---

<Layout pageTitle={picture.title} pageDescription={picture.description || ''}>
  <PageTransition>
    <article class='mt-24 py-12' transition:name={`picture-${picture.slug.current}`}>
      {
        picture.mainImage && (
          <div class='mb-8 overflow-hidden rounded-lg'>
            <img
              src={urlFor(picture.mainImage).width(1200).url()}
              alt={picture.title}
              class='w-full h-auto object-cover rounded-lg'
              transition:name={`picture-image-${picture.slug.current}`}
            />
          </div>
        )
      }

      <header class='mb-8' transition:name={`picture-content-${picture.slug.current}`}>
        <h1 class='text-4xl font-bold mb-4'>{picture.title}</h1>
        {picture.description && <p class='text-lg text-gray-600'>{picture.description}</p>}
      </header>
    </article>
  </PageTransition>
</Layout>
