---
import Layout from '../../layouts/Layout.astro'
import { getAllPictures } from '../../lib/sanity'
import type { Picture } from '../../lib/sanity'
import TextBanner from '../../components/Text/TextBanner.astro'
import PictureCard from '../../components/Cards/PictureCard.astro'

const pictures = await getAllPictures()

// Front Matter
const frontMatter = {
  pageTitle: 'Pictures',
  pageDescription: 'A collection of my photography and visual work',
}
---

<Layout pageTitle={frontMatter.pageTitle} pageDescription={frontMatter.pageDescription}>
  <div class='flex flex-col'>
    <div class=''>
      <TextBanner pageTitle={frontMatter.pageTitle} pageDescription={frontMatter.pageDescription} />
    </div>

    <!-- Picture Grid -->
    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
      {pictures.map((picture: Picture) => <PictureCard picture={picture} />)}
    </div>
  </div>
</Layout>
