---
import Layout from '../../layouts/Layout.astro'
import { getAllPosts } from '../../lib/sanity'
import type { Post } from '../../lib/sanity'
import TextBanner from '../../components/Text/TextBanner.astro'
import PostCard from '../../components/Cards/PostCard.astro'
import PageTransition from '../../components/Transitions/PageTransition.astro'

const posts = await getAllPosts()
const [featuredPost, ...remainingPosts] = posts

// Front Matter
const frontMatter = {
  pageTitle: 'Blog Posts',
  pageDescription: 'Thoughts, insights, and updates from my journey in design and photography.',
}
---

<Layout pageTitle={frontMatter.pageTitle} pageDescription={frontMatter.pageDescription}>
  <PageTransition>
    <div class='flex flex-col'>
      <TextBanner pageTitle={frontMatter.pageTitle} pageDescription={frontMatter.pageDescription} />
      <!-- Remaining Posts Grid -->
      <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
        {posts.map((post) => <PostCard post={post} />)}
      </div>
    </div>
  </PageTransition>
</Layout>
