---
import { type CollectionEntry } from 'astro:content';
import Image from 'astro/components/Image.astro';

type Props = {
	post: CollectionEntry<'posts'>;
};

const { post } = Astro.props as Props;
const {title, cover, date} = post.data;
import fallbackImage from '../../../public/images/jpg/background.webp'
const pathname = new URL(Astro.request.url).pathname;
const day = date.getDate();
const month = date.getMonth() + 1; // JavaScript months are zero-based
const year = date.getFullYear();
// const formattedDate = `${day.toString().padStart(2, '0')}/${month.toString().padStart(2, '0')}/${year}`;
const formattedDate = new Intl.DateTimeFormat('en-GB', {
	day: '2-digit',
	month: 'long',
	year: 'numeric',
}).format(date);

---

<a href=`/posts/${post.slug}` class='flex flex-col w-fit'>
	{cover ? <Image
		id='projectImage'
		src={cover}
		alt={title}
		width='2600'
		height='900'
		decoding='async'
		loading='lazy'
		class='rounded-2xl aspect-[3/2] object-cover hover:brightness-90'
	  /> : <Image
		id='projectImage'
		src={fallbackImage}
		alt={title}
		width='2600'
		height='900'
		decoding='async'
		loading='lazy'
		class='rounded-2xl aspect-[3/2] object-cover hover:opacity-90'
	  />}
	  <div class="flex flex-col mt-2">
		<h2 class='font-medium'>{title}</h2>
		<p class='text-zinc-400'>{formattedDate}</p>
	</div>
</a>
