---
import { getEntry, type CollectionEntry } from 'astro:content';
import Image from 'astro/components/Image.astro';

type Props = {
	post: CollectionEntry<'posts'>;
};

const { post } = Astro.props as Props;
const { author, description, title, date } = post.data;
const { data: authorData } = await getEntry('team', author.id);
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
import TextLink from '../Buttons/TextLink.astro';
---

<div class='flex flex-col rounded-lg my-4 border p-4'>
	<h2 class='text-lg mb-4'>{title}</h2>
	<!-- <div class='flex flex-row gap-3'>
		<Image
			src={authorData.headshot}
			alt={authorData.name}
			class='rounded-full w-12 h-12'
		/>
		<p>{authorData.name}</p>
		<span>·</span>
		<time datetime={date.toISOString()}
			>{
				date.toLocaleDateString(undefined, {
					dateStyle: 'medium',
					timeZone: 'UTC',
				})
			}</time
		>
		<span>·</span>

	</div> -->

	<TextLink path={currentPath} href=`/posts/${post.slug}`>Read post</TextLink>
</div>
