---
import Layout from '../../../layouts/Layout.astro'
import { getAlbumBySlug, getAllAlbums } from '../../../lib/sanity'
import type { Album } from '../../../lib/sanity'
import TextBanner from '../../../components/Text/TextBanner.astro'
import PictureCard from '../../../components/Cards/PictureCard.astro'
import PageTransition from '../../../components/Transitions/PageTransition.astro'

export async function getStaticPaths() {
  const albums = await getAllAlbums()
  return albums.map((album) => ({
    params: { slug: album.slug.current },
    props: { album },
  }))
}

const { album } = Astro.props

// Front Matter
const frontMatter = {
  pageTitle: album.title,
  pageDescription: album.description || `Photos from ${album.title}`,
}
---

<Layout pageTitle={frontMatter.pageTitle} pageDescription={frontMatter.pageDescription}>
  <PageTransition>
    <div class='flex flex-col'>
      <TextBanner pageTitle={frontMatter.pageTitle} pageDescription={frontMatter.pageDescription} />

      <!-- Pictures Grid -->
      <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
        {album.pictures.map((picture) => <PictureCard picture={picture} />)}
      </div>
    </div>
  </PageTransition>
</Layout>
