---
import ProjectImage from './ProjectImage.astro'
import Statistic from './Statistic.astro'
import Text from '../../ui/text/Text.astro'
import type { FeaturedProjectProps, Outcome } from './types'

const { projectImage, title, heading, outcomes, projectUrl } = Astro.props as FeaturedProjectProps
---

<ProjectImage
  src={projectImage.src}
  alt={projectImage.alt}
  title={title}
  projectUrl={projectUrl}
  width={projectImage.width}
  height={projectImage.height}
/>
<!-- Content -->
<div
  id='projectContent'
  class='flex flex-col md:flex-row gap-4 justify-between mt-6'>
  <!-- Title -->
    <div id='text' class='flex flex-col gap-2 md:w-2/4'>
      <Text variant='caption' color='muted' weight='medium'>
        {title}
      </Text>
      <Text variant='h3'>{heading}</Text>
    </div>
  <!-- Outcomes -->
  <div id='outcomes' class='flex flex-row gap-8'>
    {
      outcomes.map((outcome: Outcome) => (
        <Statistic value={outcome.value} label={outcome.label} />
      ))
    }
  </div>
</div>
