---
import type { Post } from '../../../lib/sanity'
import {
  linkListParagraphClass,
  linkListRowAnchorClass,
  linkListStrongTitleClass,
} from '../../ui/text/styles'

interface Props {
  post: Pick<Post, '_id' | 'title' | 'slug'>
}

const { post } = Astro.props
const href = `/journal/${post.slug?.current || post._id}`
---

<a
  href={href}
  class={linkListRowAnchorClass}
  data-swup-preload
  aria-label={`Read ${post.title}`}>
  <p class={linkListParagraphClass}>
    <span class={linkListStrongTitleClass}>{post.title}</span>
  </p>
</a>
